@{
    ViewBag.Title = "Заказ обработан";
}

<h2>Спасибо!</h2>
<p>Спасибо за выбор нашего кафе. Заказ в кратчайшие сроки будет отправлен в Ваш адресс после того как с Вами свяжеться наш менеджер.</p>
